@import "../../../Common/Common";
.tabFooterCss {
  position: fixed;
  bottom: 0;
  left: 0px;
  border-top-width: 1px;
  border-bottom-width: 0;
  border: 1px solid transparent;
  background-position: top;
  height: 55px;
  z-index: 9999;
  display: flex;
  background: #fafafa;
  width: 100%;
  border-top: 1px solid #e6e6e6;
  .tabContainer {
    flex: 1;
    // text-align: center;
    @extend .gWebkitBoxCenter;
    &.select {
      background-color: $g-content-background-color;
    }
    &.borderCss {
      border-left: 1px solid #e6e6e6;
      border-right: 1px solid #e6e6e6;
    }
    .itemCss {
      font-size: 15px;
      color: $g-minor-title;
      // color: #777777;
      &.selectTitle {
        padding: 5px;
        color: $g-import-blue;
        border-bottom: 2px solid $g-import-blue;
      }
    }
  }
}