// 颜色相关
$main-font-color: #222222;   // 正常字体颜色
$second-font-color: #9a9a9a; // 浅色的正常字体颜色
$hearder-bg-color: #12A2D7;  // 头部背景颜色
$tag-bg-color: #FD9393;      // 人员标签背景
$check-bg-color: #00DF5E;		 // 选中背景
$credit-color: #6699CC;			 // 信用度字体颜色
$warning-color: #FF6602;		 // 提示字体颜色
$dark-black: #131313;			 // 最黑的字体
$light-gray: #F9F9F9;			 // 浅色灰
$dark-border-color: #F0F0F0;	 // 深border颜色
$white-color: #FFFFFF;			 // 白色
$badge-bg-color: #fd9292;		 // 徽章背景颜色
$line-split: #f5f5f5;              // 分割线的色值
$line-monster_leader: #787878;
$main-color: #19b9e8; // 强调主色调
$voice-color: #ffc456; // 声音色调
$font-color-white:#fff;
// border 相关
$border-color: #e6e6ed;      // 边框颜色
$background-color: #f4f5f6;      // 背景颜色
$support-color: #a0a0a0; // 辅助次要文字颜色

// margin 相关
$margin-left: 15px;          // 左间距


// 字体大小相关
$font-default: 12px;				 // 默认字体大小
$font-default-bigger: 13px;  // 比默认字体大一点
$font-m: 15px;				         // 中等大小
$font-large: 16px;					 // 大字体